body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: black;
    animation: girar 10s linear infinite;
    border: dotted 7px rgb(255, 0, 255);
    border-radius: 50%;
}

.bola {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 34%;
    left: 50;
    border-radius: 50%;
    background-color: transparent;
    border: dotted 5px rgb(255, 0, 255);
}

.bola1 { animation: girar 1s linear infinite; }
.bola2 { animation: girar 2s linear infinite; }
.bola3 { animation: girar 3s linear infinite; }
.bola4 { animation: girar 4s linear infinite; }
.bola5 { animation: girar 5s linear infinite; }
.bola6 { animation: girar 6s linear infinite; }
.bola7 { animation: girar 7s linear infinite; }
.bola8 { animation: girar 8s linear infinite; }
.bola9 { animation: girar 9s linear infinite; }
.bola10 { animation: girar 10s linear infinite; }
.bola11 { animation: girar 10s linear infinite; 
height: 100%;
width: 100%;}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}